<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>
<%= link_to "Add Cocktail", new_cocktail_review_path(@cocktail) %>
<p>
  <strong>Ingredient:</strong>
  <%= @cocktail.ingredient %>
</p>

<p>
  <strong>Dose:</strong>
  <%= @cocktail.dose %>
</p>

<% @cocktail.each do |message| %>
<%= message.ingredient %>
<%= message.dose %>
<% end %>



<%= link_to 'Edit', edit_cocktail_path(@restaurant) %> |
<%= link_to 'Back', cocktails_path %>
